[submodule "lib/pymodules/socials"]
	path = lib/pymodules/socials
	url = https://github.com/NakedMud/socials.git
[submodule "lib/pymodules/mssp"]
	path = lib/pymodules/mssp
	url = https://github.com/NakedMud/mssp.git
[submodule "lib/pymodules/gear"]
	path = lib/pymodules/gear
	url = https://github.com/NakedMud/gear.git
